
SELECT UUID AS ID, FECHA, TIPO_LOG AS TIPO DE LOG, MENSAJE AS DESCRIPCION, USUARIO AS NOMBRE DE USUARIO, CLASE AS NOMBRE DE LA CLASE, ESTADO 
FROM TRANSFORMAPI.TRALPR
ORDER BY FECHA ASC

SELECT UUID AS ID, PET_USUARIO AS PETICION DEL USUARIO, FECHA_PETICION AS FECHA DE LA PETICION, RES_API AS RESPUESTA DE LA API, FECHA_RESPUESTA AS FECHA RESPUESTA 
FROM TRANSFORMAPI.TRALPE
ORDER BY FECHA ASC
