import os
from dotenv import load_dotenv
from app.core.logger import getLogger
from app.core.excepciones.error_conexion_bd import ErrorConexionBD

class Config:

    logger = getLogger()
    
    def __init__(self,file=".env"):
        load_dotenv(file)

        # --- datos conexion a la base de datos
        #self.db_driver= self.obtener_propiedades('NAME_DRIVER') ##NOMBRE DEL DRIVER JDBC PARA DB2
        self.url_ip= self.obtener_propiedades('URL_IP')
        self.port=self.obtener_propiedades('PORT')
        self.db_user= self.obtener_propiedades('DB_USER')
        self.db_password= self.obtener_propiedades('DB_PASSWORD')
        self.db=self.obtener_propiedades('DB') ## nombre de la base de datos SQL-SERVER
        #self.db_jar= self.obtener_propiedades('ADDRES_DRIVER') ## ES LA RUTA DEL DRIVER JDBC PARA DB2
        self.time_conection= self.obtener_propiedades('TIME_CONECTION')
        self.time_read=self.obtener_propiedades('TIME_READ')

        # --- parametros para realizar insert o consultas
        self.schema=self.obtener_propiedades('SCHEMA')
        self.marker_position=self.obtener_propiedades('MARKER_POSITION')

        # --- Datos para el modelo de IA
        self.umbral=self.obtener_propiedades('UMBRAL')
        self.umbral1=self.obtener_propiedades('UMBRAL1')
        self.umbral2=self.obtener_propiedades('UMBRAL2')

    def obtener_propiedades(self,parametro):
        
        self.logger.info("obteniendo parametros del archivo de propiedades")
        value= os.getenv(parametro)

        if value is None or value.strip() == "":
            self.logger.error(f"No se pudo obtener el parametro {parametro}")
            raise ErrorConexionBD("011", "No se pudo realizar la operacion")             
       
        return value.strip()
    
from app.core.config import Config
class CompararService:
     
    def __init__(self):
            self.logger=getLogger(__name__)
            #self.conectar=ConexionDb2()
            self.conectar=ConexionSql()
            self.validar_servicio= ValidarServicioService()
            self.comparar=AnalisisSimilitudService()
            self.log_repository=LogProcesoRepository()
            self.logpe_repository=LogPeRepository()
            self.validar_entrada=ValidarEntradaService()
        

    async def ejecutar_proceso(self, datos_entrada):

        tiempo_inicial=time.perf_counter()
 
        respuesta=None
        parametros_db=None
        conn= None
        peticion=None
        uuid_log=None

        try:
            self.logger.info("############# INICIO DEL PROCESO ################")
            ############### PASO 1: OBTENER PARAMETROS DEL ARCHIVO DE PROPIEDADES ###############
            parametros_db=Config()

            ############### PASO 2: OBTENER CONEXION BASE DE DATOS #################
            ##---CONEXION DB2

            #conn=self.conectar.conectar(
            #    parametros_db.db_driver,
            #    parametros_db.url_ip,
            #    parametros_db.db_user,
            #    parametros_db.db_password,
            #    parametros_db.db_jar,
            #    parametros_db.time_con
